In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
df = pd.read_csv("yellow_tripdata_2021-01.csv")

/tmp/ipykernel_7557/2836296694.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("yellow_tripdata_2021-01.csv")

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime )

In [32]:
from sqlalchemy import create_engine

In [33]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [34]:
engine.connect()

In [35]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [27]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator = True, chunksize=100000)

In [28]:
df = next(df_iter)

In [29]:
len(df)

100000

In [30]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [36]:
df.head(n=0).to_sql(name = "yellow_taxi_data", con=engine, if_exists="replace")

0

In [37]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 7.6 s, sys: 1.34 s, total: 8.94 s
Wall time: 18.7 s

1000

In [38]:
from time import time

In [39]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    
    t_end = time()
    
    print('inserted another chunk...,took %.3f second' %(t_end - t_start))

inserted another chunk...,took 19.222 second
inserted another chunk...,took 19.817 second
inserted another chunk...,took 21.356 second
inserted another chunk...,took 19.790 second
inserted another chunk...,took 19.923 second
inserted another chunk...,took 19.060 second
inserted another chunk...,took 18.443 second
inserted another chunk...,took 19.589 second
inserted another chunk...,took 21.393 second
inserted another chunk...,took 22.910 second
inserted another chunk...,took 17.243 second

/tmp/ipykernel_7557/2163119129.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...,took 17.041 second
inserted another chunk...,took 10.470 second

StopIteration:

In [41]:
zones = pd.read_csv("taxi_zone_lookup.csv")

In [42]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [44]:
zones.to_sql(name="zones", con=engine, if_exists='replace')

265